
@{ 
    ViewBag.Title = "InvalidLogin"; 
    }

<h2>InvalidLogin</h2>

<h3 style="color:red">Sorry Invalid Credential Supplied or Your Session expired</h3>
<h3>Click here to <a href="/Account/Login">Login</a></h3>

