
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<h2>Customer Index</h2>

@*@{
    if (@TempData["Msg"] != null)
    {
        <script>

                alert('@TempData["msg"]')
        </script>

    }
}*@